/*  your css code here. If applicable */
#animal-photos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
	        background-color:gray;
        }

        .animal-photo {
            margin: 10px;
        }

        #photo-heading {
            text-align: center;
        }